<% provide(:title, "Ediçao de página") %>
<header class="without-background clearfix">
  <h1 class="text-left pull-left">Ediçao de Pagina</h1>
  <div class="pull-right">
    <%= link_to '', admin_pages_path, class: 'btn btn-primary btn-fab btn-raised mdi-navigation-arrow-back' %>
    <%= link_to '', admin_page_path(@page), class: 'btn btn-primary btn-fab btn-raised mdi-action-description' %>
  </div>
</header>

<br/>

<%= render 'form' %>

