<header class="without-background clearfix">
  <h1 class="text-left pull-left">Ediçao de Concurso</h1>
  <div class="pull-right">
    <%= link_to '', admin_contests_path, class: 'btn btn-primary btn-fab btn-raised mdi-navigation-arrow-back' %>
    <%= link_to '', admin_contest_path(@contest), class: 'btn btn-primary btn-fab btn-raised mdi-action-description' %>
  </div>
</header>

<br/>

<%= render 'form' %>
