<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title"><center><b><%= participant.title %></b></center></h4>
			</div>
			<hr class="style-hr">
			<div class="modal-body">
				<div class="row image">
					<div class="col-xs-12">
						<%= image_tag(participant.picture.url(:medium), alt: participant.contest.title, class: "img-responsive") unless participant.contest.image.blank? %> 
					</div>
				</div>
				<br>
				<hr class="style-hr">
				<div class="row">
					<div class="col-xs-9 col-sm-10">
						<p><%= participant.contest.title %></p>
						<p>Votos: 233 </p>
						<p>Colocação: 3º Lugar</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>