<div class="col-xs-12 col-sm-2">
	<a href="#" class="thumbnail">
		<%= image_tag("placeholder-user.png", alt: "Placeholder", class: "img-responsive") %>
	</a>
	<div class="well infobox">
		<p> <a href="#"> Editar Conta </a></p>
		<p> <a href="#"> Alterar Senha </a></p>
		<p> <a href="#"> Alterar Foto </a></p>
	</div>
</div>