<div class="col-xs-12 col-sm-2">
	<a href="#" class="thumbnail">
		<% if @participants != nil %>
			<%= gravatar_for @participants[0].user, { size: 140 , _class: "img-responsive"} %>
		<% else %>
			<%= gravatar_for @participant.user, { size: 140 , _class: "img-responsive"} %>
		<% end %>
		
	</a>
	<div class="well infobox">
		<p> <%= link_to "Editar Conta", edit_user_registration_path %></p>
		<p> <a href="http://gravatar.com/emails" target=_blank>Alterar Foto</a> </p>
	</div>
</div>