<!-- flash messages -->
  <% flash.each do |message_type, message| %> 
    <%= content_tag(:div, raw("<div class='container'>#{message}</div>"), class: "alert alert-dismissable alert-#{message_type}") %>
  <% end %>


