<% provide(:title, "Admin - Página Inicial") %>
<div class="row">
    <div id="items-list" class="col-xs-8">

        <div class="media">
            <a class="media-left" href="#">
                <img src="http://placehold.it/150x150">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Titulo</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
                vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus.
            </div>
        </div>

        <div class="media">
            <a class="media-left" href="#">
                <img src="http://placehold.it/150x150">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Titulo</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
                vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus.
            </div>
        </div>

        <div class="media">
            <a class="media-left" href="#">
                <img src="http://placehold.it/150x150">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Titulo</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
                vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus.
            </div>
        </div>

        <div class="media">
            <a class="media-left" href="#">
                <img src="http://placehold.it/150x150">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Titulo</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
                vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus.
            </div>
        </div>

    </div>
</div>

