/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-material-design
*/

 /*
 *= require bootstrap-material-design
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */
html, body {
  height: 100%;
}

/* header */
header{
	background-color: #009688;
	nav.navbar { margin-bottom: 0 }
	#logo { width: auto; max-height: 44px; }
	.navbar-brand { padding: 7px 10px; }
}

/* home */
#home{
	#description { text-align: center; padding: 15px 5px }
}

/* footer */
footer{

text-align: center;
color:#E9E9E9;
	#bottom-footer, #top-footer{background: #424242;}
	#top-footer{padding: 15px;}
	#top-footer span{text-transform: uppercase;display: block;}
	#middle-footer{background: #BCBCBC;}


}

