/* universal */
body {
  padding-top: 60px;
}

/* Alert */
.alert-alert { background-color: #FF4500 !important}
.alert-danger { background-color: #B22222 !important}
.alert-info { background-color: #4169E1 !important }
.alert-success { background-color: #006400 !important }

/* typography */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}


/* form sign in */
.submit_sign_in {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

/* form inscription in contest */
.text-right {
    float: right;
    width: 300px;
}

.align-center {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}

.font-info-image-px {
  margin-top: 0px;
  font-size: 10px;
}

.term-description {
  background-color: #eeeeee;
  padding:20px;
  border-style: solid;
  border-radius: 10px;
  border-color: #009688;
}

.align-check-term {
  margin-left: 8px;
  position: fixed;
  top: 4px;
  left: 20px;
}

/* Simple form style */

.simple_form label {
  float: left;
  margin-right: 5px;
}


.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
  width:100%;
}



.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

/* Flaired edges, by Tomas Theunissen */

hr.style-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.align-button-approve-status {
  float: right;
}

/* photographers */
.photographers-rating .rating-full-star{ background: url(../images/full-star.png)no-repeat;display: inline-block;width: 24px;height: 24px;}
.photographers-rating .rating-no-star{ background: url(../images/no-star.png)no-repeat;display: inline-block;width: 24px;height: 24px;}

#photographer .well {
    margin-top:0px;
    background-color: #E9E9E9;
    border: 2px solid #BCBCBC;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
}

#photographer .well:hover {
    margin-top:-20px;
    background-color: #E9E9E9;
    border: 2px solid #BCBCBC;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
    border-bottom: 2px solid #3299BB;
}

.thumb-miniature {
  width:120px;
  height:85px;
}

.photographers .thumbnail{ margin-bottom: 0px; }
.photographers .list-info{ margin-bottom: 20px; }
.photographers .list-info .titles i{ width: 30px; height: 50px; display: inline-block; position: relative;}
.photographers .list-info .titles i{ width: 30px; height: 50px; display: inline-block; position: relative;}
.photographers .list-info .titles i span.position-user{ position: absolute; top: 24px; right: 12px; left: 0px;}
.photographers .photographer { border: 1px solid rgba(210, 210, 210, 0.56); height: 280px; padding: 30px 0;}

.pagination li a{ color: #009688 !important; }
.pagination li.active span, .pagination li.active span:hover, .pagination li.active span:focus{ background: #009688; border: none; color: #fff;}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #F1F1F1;
}

#photographer .panel{
    margin-top: 10px;
}

/* Contest show */
.contest .contest-description {background-color: white; padding: 5px; overflow: hidden;}
.contest .contest-description p {color: #009688;font-size: 17px;}
.contest .contest-date .inscriptions {margin-bottom:30px;}  
.contest .contest-date .voting .open-more {font-size: 15px;}

.contest .podium {text-align: center;}
.contest .podium .item {display: inline-block; margin:20px;}
.contest .podium .item .link .link-img {height: 75px; width: 125px;}


#contest .modal .modal-header, #contest .modal .modal-footer{ text-align: center }
#contest .modal .image { text-align: center }
#contest .thumbnail { text-align: center; }

/* Contest archive*/
.archive {height: 200px; background-color: white; text-align: center; border-radius: 10px; margin:5px; min-height: 300px;}
.archive .image {min-height: 100px;}
.archive:hover{
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0,150,136,1);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0,150,136,1);
  box-shadow: 0px 0px 20px 5px rgba(0,150,136,1);
}
.archive img {margin: 15px 0 15px 0;}
.archive .winners {text-align: start;}

/* Photographer show */
.bg_blur{height: 260px;background-size: cover;}
.bg_blur img.img-responsive{padding-top: 15px;}
.photographer-infos{color : #808080;margin-left:10%;margin-top:70px;}
.picture{height:150px;width:150px; position:absolute;top: 75px;left:-75px;}
.picture_mob{position: absolute;width: 35%;left: 35%;bottom: 70%;}
.position-user{position: absolute;top: 35px;left: 30px;}
@media (max-width: 1199px){
  .position-user{position: absolute;top: 18px;left: 23px;}
}
@media (max-width: 991px){
  .position-user{position: absolute;top: 20px;left: 25px;}
}
@media (max-width: 890px){
  .bg_blur img{margin: 0 auto;}
  .picture {top: -93px;left: 14px;}
}
@media (max-width: 767px) {
    .img-user-position{max-width: 30px!important;}
    .position-user{position: initial!important;}
    .photographer-infos{text-align : center;}
    .nav{margin-top : 30px;}
    .col-xs-center a img{margin: 0 auto;}
}

@media (max-width: 600px){
  .user-position-content{min-width: 240px;}
}

/* Admin Contests */
header.without-background {
  background-color: inherit;
}

.links-footer{
  padding: 20px 0px;
  ul a:hover{cursor: pointer;}
}

#top-footer .how-to-contest{
  padding: 0;
}

#top-footer .how-to-contest h3{
  margin-top: inherit;
  margin-bottom: 10px;
}

.list-icons{padding: 50px 0;}
.list-icons img{ width: 35px; float: right; margin-top: 10px; }
.img-hall-position{max-height: 80px}

.img-featured{height: 250px!important;}

.login_form{max-width: 330px; min-width: 300px; padding: 15px; margin: 0 auto; position: relative!important;  height: auto;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;  font-size: 16px;}

.register_form{max-width: 700px; min-width: 300px; padding: 15px; margin: 0 auto; position: relative!important;  height: auto;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;}

textarea {
  min-height: 60px;
}

.partial-podium{margin-top: 30px;}  