/* universal */
body {
  padding-top: 60px;
}


/* typography */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}


/* forms */
.submit_sign_in {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

/* Flaired edges, by Tomas Theunissen */

hr.style-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* photographers */
.photographers-rating .rating-full-star{ background: url(../images/full-star.png)no-repeat;display: inline-block;width: 24px;height: 24px;}
.photographers-rating .rating-no-star{ background: url(../images/no-star.png)no-repeat;display: inline-block;width: 24px;height: 24px;}

#photographer .well {
    margin-top:-20px;
    background-color: #E9E9E9;
    border: 2px solid #BCBCBC;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
}

#photographer .well:hover {
    margin-top:-20px;
    background-color: #E9E9E9;
    border: 2px solid #BCBCBC;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
    border-bottom: 2px solid #3299BB;
}

body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #fff;
background-color: #F1F1F1;
}

/* Contest show */
#contest .modal .modal-header, #contest .modal .modal-footer{ text-align: center }
#contest .modal .image { text-align: center }

/* Photographer show */
.bg_blur{height: 260px;background-size: cover;}
.bg_blur img.img-responsive{padding-top: 15px;}
.photographer-infos{color : #808080;margin-left:10%;margin-top:70px;}
.picture{height:150px;width:150px; position:absolute;top: 75px;left:-75px;}
.picture_mob{position: absolute;width: 35%;left: 35%;bottom: 70%;}
@media (max-width: 767px) {
    .photographer-infos{text-align : center;}
    .nav{margin-top : 30px;}
}