/* universal */
body {
  padding-top: 60px;
}


/* typography */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}


/* form sign in */
.submit_sign_in {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

/* form inscription in contest */
.text-right {
    float: right;
    width: 300px;
}

.align-center {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}

.font-info-image-px {
  margin-top: 0px;
  font-size: 10px;
}

.term-description {
  background-color: #eeeeee;
  padding:20px;
  border-style: solid;
  border-radius: 10px;
  border-color: #009688;
}

.align-check-term {
  margin-left: 8px;
  position: fixed;
  top: 4px;
  left: 20px;
}

/* Simple form style */

.simple_form label {
  float: left;
  margin-right: 5px;
}


.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
  width:100%;
}



.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

/* Flaired edges, by Tomas Theunissen */

hr.style-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* photographers */
.photographers-rating .rating-full-star{ background: url(../images/full-star.png)no-repeat;display: inline-block;width: 24px;height: 24px;}
.photographers-rating .rating-no-star{ background: url(../images/no-star.png)no-repeat;display: inline-block;width: 24px;height: 24px;}

#photographer .well {
    margin-top:-20px;
    background-color: #E9E9E9;
    border: 2px solid #BCBCBC;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
}

#photographer .well:hover {
    margin-top:-20px;
    background-color: #E9E9E9;
    border: 2px solid #BCBCBC;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
    border-bottom: 2px solid #3299BB;
}

.thumb-miniature {
  width:120px;
  height:85px;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #F1F1F1;
}

/* Contest show */
#contest .modal .modal-header, #contest .modal .modal-footer{ text-align: center }
#contest .modal .image { text-align: center }
#contest .thumbnail { text-align: center }

/* Photographer show */
.bg_blur{height: 260px;background-size: cover;}
.bg_blur img.img-responsive{padding-top: 15px;}
.photographer-infos{color : #808080;margin-left:10%;margin-top:70px;}
.picture{height:150px;width:150px; position:absolute;top: 75px;left:-75px;}
.picture_mob{position: absolute;width: 35%;left: 35%;bottom: 70%;}
.position-user{position: absolute;top: 35px;left: 30px;}
@media (max-width: 1199px){
  .position-user{position: absolute;top: 18px;left: 23px;}
}
@media (max-width: 991px){
  .position-user{position: absolute;top: 20px;left: 25px;}
}
@media (max-width: 890px){
  .bg_blur img{margin: 0 auto;}
  .picture {top: -93px;left: 14px;}
}
@media (max-width: 767px) {
    .img-user-position{max-width: 30px!important;}
    .position-user{position: initial!important;}
    .photographer-infos{text-align : center;}
    .nav{margin-top : 30px;}
}

@media (max-width: 600px){
  .user-position-content{min-width: 240px;}
}

/* Admin Contests */
header.without-background {
  background-color: inherit;
}

.links-footer{
  padding: 20px 0px;
  ul a:hover{cursor: pointer;}
}

.list-icons{padding: 50px 0;}
