<!DOCTYPE html>
<html>
<head>
  <title>PhotoContest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>AREA ADMIN</h1>
  </header>

  <%= yield %>
</body>
</html>
