<section>
  <header class="without-background clearfix">
    <h1 class="text-left pull-left">Listagem de usuários</h1>
  </header>
  <table class="table table-striped table-hover table-users">
    <thead>
      <tr>
       <th>Nome</th>
       <th>Usuário</th>
       <th>E-mail</th>
       <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="name-user"><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.short_description %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
