<footer class="footer">
	<div id="top-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-4"><i class="mdi-image-photo-camera"></i> <span>Tire sua foto</span>
				</div>
				<div class="col-xs-12 col-md-4"><i class="mdi-action-assignment-turned-in"></i> <span>Inscreva-se</span>
				</div>
				<div class="col-xs-12 col-md-4"><i class="mdi-action-face-unlock"></i> <span>Mostre seu talento</span>
				</div>
			</div>
		</div>
	</div>
	<div id="middle-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6"></div>
				<div class="col-md-6 col-sm-6">
					<ul class="list-unstyled">
						<li><a>Home</a></li>
						<li><a>Area do Fotografo</a></li>
						<li><a>Concuros</a></li>
						<li><a>Hall da fama</a></li>
						<li><a>Contato</a></li>
						<li><a>Sobre</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="bottom-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-xs-12">&copy;Photo Contest - <script>document.write(new Date().getFullYear())</script></div>
			</div>
		</div>
	</div>
</footer>