<footer>
	<div class="container">
		<div class="row" id="top-footer">
			<div class="col-xs-12 col-md-4"><i class="mdi-image-camera"></i> Tire sua foto</div>
			<div class="col-xs-12 col-md-4"><i class="mdi-action-assignment-turned-in"></i> Inscreva-se</div>
			<div class="col-xs-12 col-md-4"><i class="mdi-action-face-unlock"></i> Mostre seu talento</div>
		</div>
		<div class="row" id="middle-footer">
			<div class="col-md-6 col-sm-6"></div>
			<div class="col-md-6 col-sm-6">
				<ul>
					<li>Home</li>
					<li>Area do Fotografo</li>
					<li>Concuros</li>
					<li>Hall da fama</li>
					<li>Contato</li>
					<li>Sobre</li>
				</ul>
			</div>
		</div>
		<div class="row" id="bottom-footer">
			<div class="col-md-12 col-xs-12">&copy;Photo Contest - 2015</div>
		</div>
	</div>
</footer>